.MainHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
}

.leftArea {
  width: 60vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
}

.rightArea {
  height: 70vh;
  width: 22rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  flex-direction: row;
  min-width: 18rem;
  margin-left: 1%;
}

.bigPost {
  padding: 2%;
  width: 40%;
  flex-grow: 1;
  height: 70vh;
}

.bigPost_photo {
  width: 100%;
  height: 20rem;
}

.mainHeader_info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2%;
  width: 100%;
}

.mainHeader_avatar {
  margin-right: 2%;
}

.mainHeader_author {
  padding: 1%;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  display: flex;
}

.mainHeader_title {
  margin-top: 1.5%;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}

.mainHeader_datetime {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 11%;
  font-weight: 300;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.smallPost_container {
  margin-top: 2%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.smallPosts {
  display: flex;
  flex-direction: row;
  height: 9rem;
  width: 28rem;
  min-width: 26rem;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 3%;
  padding: 2%;
}

.smallPost_photo {
  width: 10rem;
  margin: 1%;
}

.mainHeader_sm_info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 19rem;
}

.mainHeader_sm_avatar {
  margin-right: 3%;
}

.mainHeader_sm_author {
  padding: 1%;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8rem;
  display: flex;
}

.mainHeader_sm_title {
  margin-top: 3%;
  font-weight: bold;
  font-size: 1.2rem;
  width: 19rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}

.mainHeader_sm_datetime {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 3%;
  margin-top: 8%;
  font-weight: 300;
  width: 19rem;
  font-family: "Raleway", sans-serif;
}

.mainHeader_time {
  padding-right: 3%;
}
